.whiteC_ {
    color: white !important;
}

.whiteBG_ {
    background-color: white !important;
}

.offwhiteC_ {
    color: #ebd3c0 !important;
}

.offwhiteBG_ {
    background-color: #ebd3c0 !important;
}

.blackC_ {
    color: #383838 !important;
}

.blackBG_ {
    background-color: #383838 !important;
}

.grayC_ {
    color: #9d9d9d !important;
}

.grayBG_ {
    background-color: #9d9d9d !important;
}

.darkbrownC_ {
    color: #45270f !important;
}

.darkbrownBG_ {
    background-color: #45270f !important;
}

.lightbrownC_ {
    color: #eba771 !important;
}

.lightbrownBG_ {
    background-color: #eba771 !important;
}

.nescafeC_ {
    color: #8b725e !important;
}

.nescafeBG_ {
    background-color: #8b725e !important;
}

.bodyBG_ {
    background-color: #fff3eb !important;
}
