.f_ExtraLight {
    font-family: "Poppins-ExtraLight" !important;
}

.f_Light {
    font-family: "Poppins-Light" !important;
}

.f_Regular {
    font-family: "Poppins-Regular" !important;
}

.f_Medium {
    font-family: "Poppins-Medium" !important;
}

.f_SemiBold {
    font-family: "Poppins-SemiBold" !important;
}

.f_Bold {
    font-family: "Poppins-Bold" !important;
}

.f_ExtraBold {
    font-family: "Poppins-ExtraBold" !important;
}

.f_PlayfairDisplay_Regular {
    font-family: "PlayfairDisplay-Regular" !important;
}

.f_PlayfairDisplay_Medium {
    font-family: "PlayfairDisplay-Medium" !important;
}

.f_PlayfairDisplay_SemiBold {
    font-family: "PlayfairDisplay-SemiBold" !important;
}

.f_PlayfairDisplay_Bold {
    font-family: "PlayfairDisplay-Bold" !important;
}

.f_PlayfairDisplay_ExtraBold {
    font-family: "PlayfairDisplay-ExtraBold" !important;
}
