.small_ {
    font-size: 11px !important;
}

.uk-container {
    max-width: 1100px !important;
}

.border_radius {
    border-radius: 15px !important;
}

.uk-input,
.uk-textarea {
    background-color: #ffffff !important;
    color: #383838 !important;
    border: 1px solid transparent;
}

.uk-input:focus,
.uk-textarea:focus {
    background-color: #f7f7f7;
    border: 1px solid #03787c;
}

.uk-input.border_,
.uk-textarea.border_ {
    background-color: transparent !important;
    border: 1px solid #e0e0e0 !important;
}

.uk-radio {
    height: 20px !important;
    width: 20px !important;
}

.uk-dropdown-nav li.uk-active a span {
    display: block !important;
}

.uk-dropdown-nav li:hover {
    background-color: #ebebeb;
}

button {
    border: none;
}

/*
* Card Question
********/


/**
* Modal
*******/



.uk-notification-message {
    color: white;
    background: #333333;
}

[sticky_] {
    position: sticky;
    top: 0;
}

/*
*
*NG Select
**********/

.ng-select.ng-select-single .ng-select-container {
    height: 40px;
    padding: 0px 10px;
    border-radius: 0px;
}

.ng-select .ng-select-container {
    color: #383838;
    background-color: #f7f7f7;
    border-radius: 0px;
    border: 1px solid #f7f7f7;
    min-height: 40px;
    align-items: center;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    font-size: 20px;
    top: 7px;
    padding-bottom: 0px;
    padding-left: 4px;
}

.ng-select.ng-select-opened > .ng-select-container {
    background: transparent;
    border-color: #4261e4;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
    font-size: 20px;
    color: #383838;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-label {
    color: black;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon {
    color: black;
}

/*responsive*********************************************/

/*
[Table of Contents]
1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px ipad pro
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px microsoft Lomia 550
11. 539px
12. 479px
13. 400px
*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1380px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 959px) {
}

@media only screen and (max-width: 880px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 539px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 400px) {
}
