<section class="sec_about">

    <div class="uk-container full_h">

        <div class="uk-grid-medium full_h uk-flex uk-flex-middle" uk-grid>

            <div class="uk-width-expand@l">

                <h2 class="f_PlayfairDisplay_ExtraBold darkbrownC_">Award Winning</h2>
                <h3 class="f_PlayfairDisplay_ExtraBold lightbrownC_">Interior Design</h3>

                <p class="darkbrownC_ f_Medium my-3">
                    was set up in 2014 and it's Headquartered in Dubai UAE. By providing unique designs and outstanding
                    project management services in the field of Interior Decoration. AG Co Design has been granted an
                    ISO Certificate for its Quality Management system in 2015.
                </p>

                <p class="darkbrownC_ f_Medium mb-3">
                    Through innovation, research, and building on smart, highly creative solutions that embody our
                    client's brands, we advance the field. As an employee-owned firm, our diverse and multi-talented
                    professionals are passionate, intense, and deeply client focused.
                </p>

                <p class="darkbrownC_ f_Medium mb-3">
                    We're inspired working alongside our clients to resolve complex issues and design relaxing
                    environments where people love to be. Through our work we strive to share our passion with our
                    clients.
                </p>

            </div>

            <div class="uk-width-1-2 full_h">
                <div class="bg_ full_h">
                    <img src="../../../assets/img/gallery.png" alt="">
                </div>
            </div>

        </div>

    </div>

</section>