.sec_work h2 {
    font-size: 5rem;
}

.sec_work h3 {
    font-size: 3rem;
    line-height: 25px;
}

.sec_work .line_ {
    margin-top: 17px;
    width: 14%;
    height: 2px;
}

.sec_work .box_ {
    height: 100vh;
    box-sizing: border-box;
    overflow: scroll;
}

.sec_work .nav_box {
    border: 2px solid #8b725e;
}

.sec_work .nav_box a {
    font-size: 15px;
    color: #8b725e !important;
    text-decoration: none;
}

.sec_work .nav_box.uk-active {
    background-color: #8b725e !important;
}

.sec_work .nav_box.uk-active a {
    color: #eba771 !important;
}

////////////////////////////////////////////////
.sec_work .card_ {
    position: relative;
    height: 250px;
}

.sec_work .card_ .bg_ {
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.sec_work .card_ .bg_ img {
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.sec_work .card_ .bg_ .black_screen {
    position: absolute;
    background-image: linear-gradient(0deg, #45270f, rgba($color: #45270f, $alpha: 0.8), transparent);
    z-index: 2;
}

.sec_work .card_ .body_ {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.sec_work .card_ h4 {
    font-size: 2rem;
}

.sec_work .card_ .body_ .bg_img {
    position: relative;
    height: 50px;
    overflow: hidden;
}

.sec_work .card_ .body_ .bg_img img {
    position: absolute;
    object-fit: cover;
}

/*responsive*********************************************/

/*
[Table of Contents]
1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px ipad pro
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px microsoft Lomia 550
11. 539px
12. 479px
13. 400px
*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1380px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 959px) {
}

@media only screen and (max-width: 880px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 767px) {
    .sec_work h2 {
        font-size: 3rem;
    }

    .sec_work h3 {
        line-height: 45px;
    }

    .sec_work .line_ {
        width: 80%;
    }

    .sec_work .box_ {
        height: unset;
    }
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 539px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 400px) {
}
