.active_sticky_navbar {
    background-color: #222222;
}

.inactive_sticky_navbar {
    background-color: #222222;
}

.nav_ .web_nav {
    display: block;
}

.nav_ .mobile_nav {
    display: none;
}

nav {
    height: 85px;
}

nav .logo_ {
    position: relative;
    width: 130px;
}

nav .uk-navbar-nav {
    gap: 0 !important;
}

nav .uk-navbar-nav a {
    font-size: 17px;
    min-height: unset !important;
    height: 100%;
}

nav .uk-navbar-nav .uk-active {
    // background-color: #eba771 !important;
}

nav .uk-navbar-nav .icon-active {
    filter: invert(29%) sepia(86%) saturate(447%) hue-rotate(160deg) brightness(100%) contrast(91%);
}

nav .uk-navbar-nav a.uk-active {
    color: #F1C40F !important;
}

#offcanvas-menu .body_ .line_ {
    height: 2px;
}

#offcanvas-menu .links_ a {
    position: relative;
    font-size: 20px;
    text-decoration: none;
}

#offcanvas-menu .links_ a::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: #F1C40F;
    margin-right: 10px;
    transition: 0.5s;
}

#offcanvas-menu .links_ a:hover::before {
    width: 10px;
    margin-right: 30px;
}

.animation_box {
	animation-name: color-transition;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


@keyframes color-transition {
	0% {
		background-color: #4C6085;
	}
	33% {
		background-color: #80D39B;
	}
	66% {
		background-color: #BE3E82;
	}
	100% {
		background-color: #4C6085;
	}
}

/*responsive*********************************************/

/*
[Table of Contents]
1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px ipad pro
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px microsoft Lomia 550
11. 539px
12. 479px
13. 400px
*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1380px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 959px) {
}

@media only screen and (max-width: 880px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 767px) {
    //sec_1
    .nav_ .web_nav {
        display: none;
    }
    .nav_ .mobile_nav {
        display: block;
    }
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 539px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 400px) {
}
