<section class="sec_4">
  <div class="img">
    <img src="../../../assets/img/info_bg.jpg" alt="">

    <div class="balck_screen"></div>

  </div>


  <div class="caption uk-flex uk-flex-middle">

    <div class="uk-container">


      <div class="uk-grid-small uk-child-width-1-2@l uk-flex uk-flex-middle" uk-grid>

        <div>

          <div class="img-caption uk-flex uk-flex-center">
            <img width="60%" src="../../../assets/img/img_work.png" alt="">
          </div>

        </div>


        <div>

          <div class="info-caption">
            <h2 class="offwhiteC_">My Website</h2>

            <p class="offwhiteC_">Our work have the traditional taste with contemporary <br> modern touch, thus we possess a timeless style <br>
              generating broad market appeal.</p>

            <button class="offwhiteBG_ py-2 px-3 f_Light nescafeC_ mt-1">Learn More</button>
          </div>




        </div>

      </div>

    </div>


  </div>



</section>
