<div style="width: 100%; height: 100%; overflow: scroll;">

    <div class="nav_ "
        uk-sticky="start: 200; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: active_sticky_navbar; cls-inactive: inactive_sticky_navbar">

        <div class="web_nav">

            <div class="uk-container">
                <nav class="" uk-navbar>

                    <div class="uk-navbar-left logo_ full_h">
                        <div class="full_w full_h uk-flex uk-flex-center uk-flex-middle">
                            <a routerLink="/">
                                <img width="100%" src="assets/img/logo.svg" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="uk-navbar-right">

                        <ul class="uk-navbar-nav full_h">

                            <li><a class="px-3 f_SemiBold whiteC_" [routerLinkActiveOptions]="{exact: true}"
                                    routerLinkActive="uk-active">sdfsdfsdf</a></li>

                            <li class="animation_box"><a target="_blank" href="assets/img/portfolio.pdf"
                                    class="px-3 f_SemiBold whiteC_">Portfolio</a></li>

                        </ul>

                    </div>

                </nav>
            </div>

        </div>



    </div>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, temporibus. Voluptatibus suscipit, nam
    aliquam ut eum maxime asperiores culpa velit dicta inventore quis mollitia quod soluta temporibus, animi repellendus
    earum exercitationem dolorem placeat magnam repudiandae perspiciatis obcaecati molestias veniam. Cupiditate ipsam
    culpa autem repellendus? Cupiditate explicabo a laboriosam est vitae quibusdam dolor tempora optio consequuntur, ad
    impedit nostrum commodi corrupti, earum adipisci eius quia dolore fugiat dolorum, autem quas voluptatum porro
    veritatis aperiam! Iusto sit, harum illum maiores aliquam nihil voluptas nostrum, repudiandae magnam necessitatibus
    fugiat repellat ea velit distinctio fuga obcaecati voluptatem dolorum sunt soluta sequi unde laudantium. Impedit
    debitis tempore illo, nemo recusandae, maxime quia aperiam totam earum ipsum eligendi repellat, repudiandae eos
    excepturi facilis soluta alias a cumque saepe nisi. Reiciendis nam temporibus vitae, enim debitis ipsam consectetur
    est tempora incidunt necessitatibus quasi doloremque dolorum nobis excepturi. Quod exercitationem placeat quia?
    Deserunt quisquam excepturi obcaecati, vero molestiae fuga! Repudiandae labore iure facilis veniam maiores magnam
    excepturi aliquid. Nam alias corrupti similique labore incidunt ducimus dolorem maiores, consectetur est debitis
    accusamus asperiores ipsa ab voluptatibus aperiam tenetur tempora reprehenderit ratione perferendis sit. Adipisci
    et, iste unde dicta nobis ad dolores nostrum quos porro deserunt omnis perferendis alias nemo nulla voluptate
    debitis laboriosam quaerat corrupti, optio, labore illum ipsa culpa? Commodi assumenda aliquam magni eum vel alias
    nemo repellat nisi, ipsum illo, obcaecati quas quae non! Quisquam corporis officia eligendi impedit quidem ducimus
    fuga, veritatis, nesciunt similique doloremque distinctio dolor reiciendis facere quo maxime veniam dolorum eaque
    obcaecati deleniti non perspiciatis libero reprehenderit consequuntur? Magnam placeat, porro laborum distinctio
    nulla totam, sed ex dolorem corrupti rerum provident quo iusto? Facere recusandae quia porro, doloremque nam ab
    quasi accusamus nesciunt perspiciatis sit eligendi illo mollitia nulla dolorum tempore enim ad dolorem obcaecati
    tenetur atque illum, velit est itaque aspernatur! Provident esse maiores voluptate ad magnam ipsa veniam, nostrum,
    est, eos at facilis ex beatae! Labore corporis nemo ipsam quaerat error repudiandae, a, mollitia in cum suscipit
    consectetur culpa dolorum delectus fugiat omnis. Enim facilis tenetur laudantium vero reiciendis sequi temporibus
    aliquid itaque, ipsam accusantium veritatis sint quae ducimus dicta minima libero. Possimus perspiciatis fugit minus
    sequi quasi quidem, cum eius exercitationem! Cum, atque ipsa tenetur labore expedita vel consequatur iure sequi nam
    voluptate, natus fugiat sunt saepe laboriosam sint autem! Ipsam, fuga. Explicabo vero voluptates labore, veniam
    error possimus sunt cum voluptatem maiores dolor laborum obcaecati asperiores facilis fugit molestiae esse quisquam,
    veritatis, sapiente enim doloribus sed quos? Blanditiis deleniti dicta mollitia ab laborum a nemo officiis labore
    recusandae sequi consectetur, quos omnis doloribus asperiores beatae reprehenderit. Architecto rerum culpa similique
    dolor iure repudiandae atque modi id recusandae at doloremque labore repellendus nesciunt laboriosam vel voluptate
    ullam, ut quaerat assumenda, quas asperiores deserunt suscipit! Minus corporis dolorem similique modi natus repellat
    nihil reiciendis perspiciatis eos at ad inventore consectetur, aliquid optio eaque ipsam recusandae ullam fugiat
    culpa. Iure minus quam, sint consectetur voluptates quis non itaque eos iusto, dolorem optio ipsam fugit illo illum
    consequatur adipisci ea corrupti recusandae dolor saepe nisi distinctio rem totam? Harum eius laudantium minima
    officia nisi dolorem at nihil voluptatem pariatur, perspiciatis, id cupiditate iste dicta! Voluptas labore ducimus
    earum ea maiores aliquid amet? At fugit accusamus doloremque eum quos ipsam ut dolores vel et dolorem, totam beatae
    delectus repellat accusantium nesciunt mollitia consectetur, pariatur explicabo ex! Ipsa omnis excepturi illum
    quaerat quas aperiam cumque dolorem, fuga eveniet odio maxime amet hic, deserunt praesentium accusantium? Sit
    laboriosam sequi rerum, est, a omnis aliquid aliquam asperiores delectus nemo eligendi eveniet! Cupiditate
    voluptatem autem dolor quae adipisci veniam repellat delectus maiores minus dignissimos. Dolores dolorum animi
    eligendi veritatis iure delectus. Ducimus corrupti, est laboriosam consectetur, expedita iure quo adipisci dolore
    eos praesentium reiciendis facere necessitatibus commodi repellendus quis delectus repellat pariatur amet!
    Repellendus, eaque repellat! Laboriosam reprehenderit mollitia consequatur fugiat sunt dolorum, sequi recusandae
    ratione. Officia ea in quos illum accusantium doloremque, dolorem ut aut nemo ab, aperiam sit laudantium quo rem
    dignissimos sequi! Magni aliquid fuga laudantium natus ea officiis inventore labore, explicabo itaque sunt minus in
    accusamus nemo, suscipit id ullam quasi neque dolores. Adipisci dolor, sed ut ducimus asperiores sit quia ipsa,
    soluta tenetur eum architecto quos suscipit nobis corporis odio ipsam excepturi dolore cumque, velit repudiandae
    aperiam! Unde dicta ratione accusamus modi rerum facilis placeat quos aliquid cum, laboriosam nam! Optio velit rem
    possimus accusamus, suscipit quo iusto earum commodi temporibus sunt officiis necessitatibus hic ut voluptas
    exercitationem quia voluptatem tenetur doloremque vitae quos reprehenderit quod cum eaque! In dolore doloribus sequi
    culpa explicabo enim, impedit labore quam eveniet hic totam nostrum amet facere est dolorem expedita voluptates
    maiores temporibus molestiae accusamus nemo ex. Odit itaque minus excepturi architecto maiores, ipsam deleniti rem!
    Nostrum quisquam sapiente, dolorum dolor eum natus molestias. Possimus repellendus quas cumque dolore vero dicta
    placeat veniam omnis recusandae! Enim dicta distinctio nam corrupti temporibus hic omnis debitis voluptatum harum
    iure, cupiditate, nihil ex quae facilis necessitatibus ipsum quis modi magnam animi eum earum aspernatur! Iusto
    harum nihil maxime amet omnis reiciendis vitae modi corporis ratione. Iure saepe neque, minima perferendis corrupti,
    voluptates illo accusamus repellat veritatis, ut quas ullam nam quaerat placeat. Porro ut voluptate nihil, at
    accusamus tenetur aperiam, odio est amet, libero cupiditate? Nisi placeat rem eaque est facere, repellendus odio
    itaque laudantium quae quia maxime ex, eligendi recusandae consectetur voluptates eos, sit labore dolore ducimus!
    Commodi, eos hic at assumenda ullam placeat obcaecati voluptate quo libero molestias id recusandae laboriosam
    quibusdam, unde aliquam, impedit tempora rerum necessitatibus magnam. Eius, unde quod dolore labore impedit animi?
    Ratione perspiciatis odio corporis odit laborum, consequatur id? Sit facere natus, perferendis aut quas itaque
    possimus saepe quaerat id magnam, consequatur provident blanditiis optio distinctio? Placeat optio dolorem aut in
    maiores rerum commodi expedita sint sit porro aliquam iste, dolorum aperiam fugiat ut quis officiis est nobis. Nulla
    dolorum nihil enim cupiditate, aperiam modi atque vero explicabo ratione commodi ea ipsum quaerat esse
    exercitationem omnis qui fugiat deserunt, nemo illum hic libero dolorem dolor aliquid numquam! Magnam asperiores ex
    non tenetur!

</div>