<section class="sec_2 py-4 uk-flex uk-flex-middle">

  <div class="line"></div>

  <div class="uk-container">

    <div class="uk-grid-small uk-child-width-1-3@l" uk-grid>

      <div>

        <div class="card p-2 nescafeBG_">
          <h2 class="offwhiteC_ f_Bold">Office Design</h2>
          <p class="offwhiteC_">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also.</p>
        </div>

      </div>

      <div>

        <div class="card p-2 nescafeBG_">

          <h2 class="offwhiteC_ f_Bold">Office Design</h2>
          <p class="offwhiteC_">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also.</p>


        </div>

      </div>

      <div>

        <div class="card p-2 nescafeBG_">

          <h2 class="offwhiteC_ f_Bold">Office Design</h2>
          <p class="offwhiteC_">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also.</p>
        </div>

      </div>

    </div>

  </div>

</section>
