//sec_1
.sec_1 {
    position: relative;
    height: 100vh;
}

.sec_1 .img {
    position: absolute;
    overflow: hidden;
}

.sec_1 .img img {
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.sec_1 .img .black-screen {
    position: absolute;
    top: 0%;
    background: linear-gradient(
        90deg,
        rgba($color: #45270f, $alpha: 0.8) 0%,
        rgba($color: #45270f, $alpha: 0.5) 50%,
        rgba($color: #45270f, $alpha: 0) 100%
    );
}

.sec_1 .uk-container {
    position: relative;
}

.sec_1 .uk-container .caption {
    width: 100%;
    height: 100%;
}

.sec_1 .caption .line {
    width: 30%;
    height: 2px;
    margin: 8px 0;
}

.sec_1 .caption h2 {
    font-size: 8rem;
}

.sec_1 .caption h3 {
    font-size: 4rem;
    line-height: 66px;
}

//sec_2
.sec_2 {
    position: relative;
}

.sec_2 .uk-container {
    z-index: 2;
}

.sec_2 .line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgba($color: #45270f, $alpha: 0.1);
    z-index: 1;
}

//sec_3

.sec_3 {
    position: relative;
}

.sec_3 .uk-container {
    position: relative;
    z-index: 1;
    top: 0;
}

.sec_3 .wallpaper_box {
    position: absolute;
    z-index: 2;
    top: 0;
}

.sec_3 .bg_ {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.sec_3 .bg_ img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.sec_3 .bg_ .border_ {
    position: absolute;
    width: 80%;
    border: 7px solid #ebd3c0 !important;
    height: 80%;
    z-index: 2;
}

.sec_3 .placeholder_height {
    height: 100vh;
}

//sec_4
.sec_4 {
    position: relative;
    height: 75vh;
}

.sec_4 .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sec_4 .img img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.sec_4 .img .balck_screen {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #8b725e, $alpha: 0.8);
    width: 100%;
    height: 100%;
}

.sec_4 .caption .img {
    width: 33%;
}

.sec_4 .caption .img img {
    width: 100%;
}

.sec_4 .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sec_4 .caption .info-caption h2 {
    letter-spacing: 12px;
}

//sec_5
.sec_5 .header_ p {
    font-size: 2.7rem;
    line-height: 50px;
}

.sec_5 .header_ .line_ {
    width: 10%;
    height: 2px;
}

.sec_5 .nav_box {
    border: 2px solid #8b725e;
}

.sec_5 .nav_box a {
    font-size: 15px;
    color: #8b725e !important;
    text-decoration: none;
}

.sec_5 .nav_box.uk-active {
    background-color: #8b725e !important;
}

.sec_5 .nav_box.uk-active a {
    color: #eba771 !important;
}

.sec_5 .bg_ img {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
