<div *ngIf="loading" class="loading_" @fadeOut>
    <div class="full_w full_h uk-flex uk-flex-middle uk-flex-center">
        <img width="40%" src="assets/img/ezgif.com-gif-maker.gif" alt="">
    </div>
</div>

<section *ngIf="!loading" class="sec_1">

    <div class="bg_ full_h">
        <img class="full_w full_h" src="assets/img/bg_.jpg" alt="">
        <div class="black_screen full_w full_h" uk-scrollspy="cls: uk-animation-fade; delay: 400; repeat: false"></div>

        <div class="content_">

            <div class="uk-container">

                <div class="uk-width-2-3@l">
                    <div class="line_ whiteBG_" uk-scrollspy="cls: uk-animation-fade; delay: 600; repeat: false"></div>
                    <h2 class="f_Bold yellowC_ mt-3" uk-scrollspy="cls: uk-animation-fade; delay: 700; repeat: false">
                        Bring Magic to Home</h2>
                    <h3 class="whiteC_ f_ExtraLight" uk-scrollspy="cls: uk-animation-fade; delay: 800; repeat: false">
                        Our work have the traditional taste with contemporary modern touch, thus we possess a timeless
                        style
                        generating broad market appeal.
                    </h3>
                </div>

            </div>

        </div>

    </div>

</section>

<section *ngIf="!loading" class="sec_2 py-4">

    <div class="uk-container">

        <div class="uk-grid-small uk-child-width-1-3@l" uk-grid
            uk-scrollspy="cls: uk-animation-fade; target: .card; delay: 400; repeat: false">

            <div *ngFor="let item of aboutArr">

                <div class="card ">
                    <div class="bg_">
                        <img class="full_w full_h" [src]="item.img" alt="">
                    </div>
                    <div class="body_ p-3 whiteBG_">
                        <h2 class="blackC_ mb-1 f_Bold">{{item.title}}</h2>
                        <p class="grayC_">{{item.description}}</p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section *ngIf="!loading" class="sec_3 py-4">

    <div class="full_w header_">
        <div class="uk-container  ">
            <div class="bg_" uk-scrollspy="cls: uk-animation-fade; delay: 400; repeat: false">
                <img class="full_w full_h" src="assets/img/sec_3.jpg" alt="">
            </div>

        </div>
    </div>

    <div class="full_w body_">

        <div class="uk-container">

            <div class="uk-grid-small uk-child-width-1-3@l cards_"
                uk-scrollspy="cls: uk-animation-fade; target: .card_service; delay: 500; repeat: false" uk-grid>

                <div *ngFor="let item of serviceArr">

                    <div class="card_service whiteBG_ p-3">

                        <div class="uk-grid-small" uk-grid>

                            <div class="uk-width-auto@l">
                                <div style="width: 50px;">
                                    <img width="100%" [src]="item.icon" alt="">
                                </div>
                            </div>

                            <div class="uk-width-expand@l">
                                <h4 class="mb-1 blackC_ f_Light">{{item.title}}</h4>
                                <p class="grayC_ f_Light">{{item.description}}</p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section *ngIf="!loading" class="sec_4 my-4">

    <div class="img">
        <img src="assets/img/sec_4.jpg" uk-scrollspy="cls: uk-animation-fade; delay: 300; repeat: false" alt="">
        <div class="black_screen" uk-scrollspy="cls: uk-animation-fade; delay: 400; repeat: false"></div>
    </div>

    <div class="caption uk-flex uk-flex-middle uk-flex-center">

        <div class="info-caption uk-width-1-2@l">
            <h2 class="yellowC_ text-center f_Bold" uk-scrollspy="cls: uk-animation-fade; delay: 600; repeat: false">
                AG CO DESIGN</h2>

            <h4 class="whiteC_ f_Light text-center mt-1"
                uk-scrollspy="cls: uk-animation-fade; delay: 700; repeat: false">Our
                work have the traditional taste with contemporary modern touch,
                thus we possess a timeless style
                generating broad market appeal.</h4>

            <div class="uk-flex uk-flex-center">
                <a routerLink="/about" class="btn_a yellowBG_ py-2 px-3 f_Medium blackC_ mt-3"
                    uk-scrollspy="cls: uk-animation-fade; delay: 800; repeat: false">Learn More</a>
            </div>


        </div>

    </div>

</section>

<section *ngIf="!loading" class="sec_5 py-3">

    <div class="uk-container">

        <div class="header_ text-center">
            <p class="f_Bold blackC_ text-center" uk-scrollspy="cls: uk-animation-fade; delay: 400; repeat: false">
                Our Work</p>
        </div>

        <div class="uk-grid-small uk-child-width-1-3@l mt-3" uk-grid
            uk-scrollspy="cls: uk-animation-fade; target: .card_; delay: 200; repeat: false">

            <div *ngFor="let item of placeArr">

                <div class="card_">

                    <div class="bg_ full_w full_h">
                        <img class="full_w full_h" [src]="item.img" alt="">
                        <div class="black_screen full_w full_h"></div>
                    </div>

                    <div class="body_ full_w">

                        <div class="p-3">
                            <h2 class="m-0 yellowC_ f_ExtraBold mb-1">{{item.name}}</h2>

                            <div class="uk-grid-small uk-child-width-1-4" uk-grid uk-lightbox="animation: slide">

                                <div *ngFor="let img of item.imgs">
                                    <div class="bg_img">
                                        <a [href]="'assets/img/work/' + img.value + '/' + img.img">
                                            <img class="full_w full_h"
                                                [src]="'assets/img/work/' + img.value + '/' + img.img" alt="">
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="text-center mt-3">

            <a routerLink="/work" class="btn_a blackBG_ py-2 px-3 f_Medium yellowC_"
                uk-scrollspy="cls: uk-animation-fade; delay: 600; repeat: false">Learn More</a>

        </div>

    </div>

</section>

<app-contact></app-contact>