//sec_1
.sec_1 {
    position: relative;
    height: 100vh;
}

.sec_1 .bg_ {
    position: absolute;
    overflow: hidden;
}

.sec_1 .bg_ img {
    position: absolute;
    object-fit: cover;
    object-position: center;
}

.sec_1 .bg_ .black_screen {
    position: absolute;
    top: 0%;
    background: linear-gradient(
        90deg,
        rgba($color: #45270f, $alpha: 0.8) 0%,
        rgba($color: #45270f, $alpha: 0.5) 50%,
        rgba($color: #45270f, $alpha: 0.3) 100%
    );
}

.sec_1 .uk-container {
    position: relative;
}

.sec_1 .box .line_ {
    width: 35%;
    height: 2px;
}

.sec_1 .box h2 {
    font-size: 10rem;
    line-height: 155px;
}

.sec_1 .box h3 {
    font-size: 5rem;
    line-height: 70px;
}

.sec_1 .box p {
    font-size: 20px;
}

//sec_2

.sec_2 {
    position: relative;
}

.sec_2 .uk-container {
    z-index: 2;
}

.sec_2 .card {
    min-height: 250px;
}

.sec_2 .line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba($color: #45270f, $alpha: 0.1);
    z-index: 1;
}

//sec_3

.sec_3 {
    position: relative;
}

.sec_3 .uk-container {
    position: relative;
    z-index: 1;
    top: 0;
}

.sec_3 .wallpaper_box {
    position: absolute;
    z-index: 2;
    top: 0;
}

.sec_3 .bg_ {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.sec_3 .bg_ img {
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.sec_3 .bg_ .border_ {
    position: absolute;
    width: 80%;
    border: 7px solid #ebd3c0 !important;
    height: 80%;
    z-index: 2;
}

.sec_3 .placeholder_height {
    height: 100vh;
}

//sec_4
.sec_4 {
    position: relative;
    height: 70vh;
}

.sec_4 .img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.sec_4 .img img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.sec_4 .img .black_screen {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #8b725e, $alpha: 0.8);
    width: 100%;
    height: 100%;
}

.sec_4 .caption .img {
    width: 33%;
}

.sec_4 .caption .img img {
    width: 100%;
}

.sec_4 .caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sec_4 .caption .info-caption h2 {
    letter-spacing: 12px;
}

//sec_5
.sec_5 .header_ p {
    font-size: 2.7rem;
    line-height: 50px;
}

.sec_5 .header_ .line_ {
    width: 10%;
    height: 2px;
}

.sec_5 .card_ {
    position: relative;
    height: 250px;
}

.sec_5 .card_ .bg_ {
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.sec_5 .card_ .bg_ img {
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.sec_5 .card_ .bg_ .black_screen {
    position: absolute;
    background-image: linear-gradient(0deg, #45270f, rgba($color: #45270f, $alpha: 0.7), transparent);
    z-index: 2;
}

.sec_5 .card_ .body_ {
    position: absolute;
    bottom: 0;
    z-index: 3;
}

.sec_5 .card_ .body_ .bg_img {
    position: relative;
    height: 50px;
    overflow: hidden;
}

.sec_5 .card_ .body_ .bg_img img {
    position: absolute;
    object-fit: cover;
}

.sec_5 .nav_box {
    border: 2px solid #8b725e;
}

.sec_5 .nav_box a {
    font-size: 15px;
    color: #8b725e !important;
    text-decoration: none;
}

.sec_5 .nav_box.uk-active {
    background-color: #8b725e !important;
}

.sec_5 .nav_box.uk-active a {
    color: #eba771 !important;
}

.sec_5 .bg_ {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.sec_5 .bg_ a {
    display: block;
}

.sec_5 .bg_ img {
    position: absolute;
    left: 0;
    object-fit: cover;
    object-position: center;
}

/*responsive*********************************************/

/*
[Table of Contents]
1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px ipad pro
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px microsoft Lomia 550
11. 539px
12. 479px
13. 400px
*/

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1380px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 959px) {
}

@media only screen and (max-width: 880px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 767px) {
    //sec_1
    .sec_1 {
        height: 90vh;
    }

    .sec_1 .bg_ .black_screen {
        background: linear-gradient(
            0deg,
            rgba($color: #45270f, $alpha: 0.8) 0%,
            rgba($color: #45270f, $alpha: 0.5) 50%,
            rgba($color: #45270f, $alpha: 0.3) 100%
        );
    }

    .sec_1 .box h2 {
        font-size: 4rem;
        line-height: 50px;
    }

    .sec_1 .box h3 {
        font-size: 3rem;
        line-height: unset;
    }

    //sec_3

    .sec_3 .bg_ {
        height: 50vh;
    }

    .sec_3 .placeholder_height {
        height: 50vh;
    }
}

@media only screen and (max-width: 575px) {
}

@media only screen and (max-width: 539px) {
}

@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 479px) {
}

@media only screen and (max-width: 400px) {
}
