<div hidden class="uk-position-relative">

    <section class="sec_1">

        <div class="bg_ full_w full_h">
            <img class="full_w full_h" src="assets/img/bg_.png" alt="">
            <div class="black_screen full_w full_h"></div>
        </div>

        <div class="uk-container full_h">

            <div class="box full_h uk-flex uk-flex-middle">

                <div class="uk-grid-small" uk-grid>

                    <div class="uk-width-1-3@l">
                        <h2 class="f_PlayfairDisplay_ExtraBold offwhiteC_">Bring</h2>
                        <h3 class="f_PlayfairDisplay_Bold lightbrownC_">Magic to Home</h3>
                        <div class="line_ offwhiteBG_ my-1"></div>
                        <p class="offwhiteC_">Our work have the traditional taste with contemporary modern touch,
                            thus
                            we
                            possess a timeless style
                            generating
                            broad market appeal.</p>
                    </div>

                    <div class="uk-width-expand@l">

                        <div class="full_h uk-flex uk-flex-right@l uk-flex-left uk-flex-bottom">
                            <a class="btn_a offwhiteBG_ py-2 px-3 f_Light nescafeC_" routerLink="/about">Read More</a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <div class="uk-position-top">

        <div class="uk-container mt-3">

            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>

                <div class="uk-navbar-left">
                    <a href="#">
                        <img width="50%" src="assets/img/logo.svg" alt="">
                    </a>
                </div>

                <div class="uk-navbar-right">
                    <a class="text-right" href="#">
                        <img width="30%" src="./assets/img/menu.svg" alt="">
                    </a>
                </div>

            </nav>

        </div>


    </div>

</div>

<section hidden class="sec_2 py-4 uk-flex uk-flex-middle">

    <div class="line"></div>

    <div class="uk-container">

        <div class="uk-grid-small uk-child-width-1-3@l" uk-grid>

            <div *ngFor="let item of aboutArr">

                <div class="card p-3 nescafeBG_">
                    <h2 class="offwhiteC_ f_PlayfairDisplay_Bold mb-1">{{item.title}}</h2>
                    <p class="offwhiteC_">{{item.description}}</p>
                </div>

            </div>

        </div>

    </div>

</section>

<section hidden class="sec_3">

    <div class="uk-container">

        <div class="uk-grid-collapse uk-flex uk-flex-middle" uk-grid>

            <div class="uk-width-1-3@l">
                <div class="placeholder_height"></div>
            </div>

            <div class="uk-width-expand@l">

                <div class="uk-grid-small uk-child-width-1-2@l py-4" uk-grid>

                    <div *ngFor="let item of serviceArr">

                        <div class="uk-grid-small" uk-grid>

                            <div class="uk-width-auto@l">
                                <div style="width: 50px;">
                                    <img width="100%" [src]="item.icon" alt="">
                                </div>
                            </div>

                            <div class="uk-width-expand@l">
                                <h4 class="mb-1 nescafeC_ f_Light">{{item.title}}</h4>
                                <p class="lightbrownC_ f_Light">{{item.description}}</p>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="uk-width-1-3@l wallpaper_box">
        <div class="bg_ uk-flex uk-flex-middle uk-flex-center">
            <img class="full_w full_h" src="assets/img/img_service.jpg" alt="" srcset="">
            <div class="border_"></div>
        </div>
    </div>

</section>

<section hidden class="sec_4 my-4">

    <div class="img">
        <img src="assets/img/info_bg.jpg" alt="">
        <div class="balck_screen"></div>
    </div>

    <div class="caption uk-flex uk-flex-middle">

        <div class="uk-container">

            <div class="uk-grid-small uk-child-width-1-2@l uk-flex uk-flex-middle" uk-grid>

                <div>

                    <div class="img-caption uk-flex uk-flex-center">
                        <img width="60%" src="assets/img/img_work.png" alt="">
                    </div>

                </div>

                <div>

                    <div class="info-caption">
                        <h2 class="offwhiteC_ f_Bold">My Website</h2>

                        <h4 class="whiteC_ f_Light">Our work have the traditional taste with contemporary modern touch,
                            thus we possess a timeless style
                            generating broad market appeal.</h4>

                        <a routerLink="/about" class="btn_a offwhiteBG_ py-2 px-3 f_Light nescafeC_ mt-1">Learn More</a>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

<section class="sec_5 py-3">

    <div class="uk-container">

        <div class="header_ text-center">

            <p class="f_Light darkbrownC_ text-center">Our Work</p>
            <div class="uk-flex uk-flex-center">
                <div class="line_ lightbrownBG_"></div>
            </div>

        </div>

        <div class="mt-3" uk-filter="target: .js-filter">

            <div class="uk-grid-small uk-child-width-auto@l uk-flex uk-flex-center" uk-grid>

                <div>
                    <div class="uk-active nav_box text-center p-1 cursor" uk-filter-control><a class="f_SemiBold"
                            href="#">All</a></div>
                </div>

                <div *ngFor="let item of placeArr">
                    <div class="nav_box text-center p-1 cursor" attr.uk-filter-control="[data-color='{{item.value}}']">
                        <a class="f_SemiBold" href="#">{{item.name}}</a>
                    </div>
                </div>

            </div>

            <div class="js-filter uk-grid-small uk-child-width-1-4@l uk-text-center" uk-grid
                uk-lightbox="animation: slide">

                <div *ngFor="let item of workArr" attr.data-color="{{item.value}}">

                    <div class="bg_ full_w">
                        <a class="full_w full_h" [href]="'assets/img/work/' + item.value + '/' + item.img">
                            <img class="full_w full_h" [src]="'assets/img/work/' + item.value + '/' + item.img" alt="">
                        </a>

                    </div>

                </div>

            </div>

        </div>

        <div class="text-center mt-3">

            <a routerLink="/work" class="btn_a nescafeBG_ py-2 px-3 f_Medium lightbrownC_">Learn More</a>

        </div>

    </div>

</section>

<app-contact></app-contact>