/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Poppins-ExtraLight";
    src: url(assets/font/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: "Poppins-Light";
    src: url(assets/font/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(assets/font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(assets/font/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(assets/font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-Bold";
    src: url(assets/font/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(assets/font/Poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-Regular";
    src: url(assets/font/Playfair_Display/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-Medium";
    src: url(assets/font/Playfair_Display/PlayfairDisplay-Medium.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-SemiBold";
    src: url(assets/font/Playfair_Display/PlayfairDisplay-SemiBold.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-Bold";
    src: url(assets/font/Playfair_Display/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: "PlayfairDisplay-ExtraBold";
    src: url(assets/font/Playfair_Display/PlayfairDisplay-ExtraBold.ttf);
}

body {
    font-family: "Poppins-Regular" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: "Poppins-Regular" !important;
    margin: 0 !important;
    color: #222222 !important;
}

html {
    background-color: #e6e6e6;
}

::selection {
    background-color: #f1c40f;
}

.loading_ {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #222222;
}

.loading_ img {
    filter: brightness(0) invert(1);
}

.uk-divider-vertical {
    border-left: 1px solid #222222;
}
